
<% if (paginate.hasNextPages(pageCount) || paginate.hasPreviousPages) { %>
  <div id="pagination" class="navigation well-sm">
    <ul class="pager">
        <% if (paginate.hasPreviousPages){ %>
            <li class="previous">
                <a href="<%=paginate.href({ page: 1 })%>" class="prev">
                    <i class="i glyphicon glyphicon-step-backward"></i>
                </a>
            </li>
            <li class="previous">
                <a href="<%=paginate.href(true)%>" class="prev">
                    <i class="i fa fa-arrow-circle-left"></i> | Previous
                </a>
            </li>
        <% } else {%>
                <li class="previous">
                    <span class="prev disabled-buttons" disabled>
                        <i class="i glyphicon glyphicon-step-backward"></i>
                    </span>
                </li>
                <li class="previous">
                    <span class="prev disabled-buttons">
                        <i class="i fa fa-arrow-circle-left"></i> | Previous
                    </span >
                </li>
        <% } %>
        
      <% if (pages){ %>
          <% pages.forEach(function(page){ %>
              <a class="btn btn-default" href="<%=page.url%>"><%=page.number%></a>
          <% }); %>
        <% } %>
      <% if (paginate.hasNextPages(pageCount)){ %>
          <li class="next">
              <a href="<%=paginate.href({ page: lastPage })%>" class="next">
                  <i class="i glyphicon glyphicon-step-forward"></i>
              </a>
          </li>
          <li class="next">
              <a href="<%=paginate.href()%>" class="next">
                   Next&nbsp;| <i class="i fa fa-arrow-circle-right"></i>
                </a>
          </li>
       <%  } else { %>
            <li class="next">
                <span class="disabled-buttons" disabled>
                    <i class="i glyphicon glyphicon-step-forward"></i>
                </span>
            </li>
            <li class="next">
                <span class="disabled-buttons">
                    Next&nbsp;| <i class="i fa fa-arrow-circle-right"></i>
                </span >
            </li>
        <% } %>

    </ul>
  </div>
<% } %>