<% include ../partials/header %>



<div class="container container-fluid">
    <div id="app-header">
        <img class="img-fluid img-thumbnail" src="<%=app.iconUrl%>"></img>
        <h1 class="app-header"><%=app.title%></h1>
    </div>
    
    <h2>App Details:</h2>
       <ul>
           <li>Last Modified: #Need to be changed to last version<%=app.lastModified.toLocaleDateString()%></li>
           <li>Version: <%=app.versionString%></li>
       </ul>
    
    <label for="resultAmount">Number of results on page: </label>
    <select class="btn btn-default dropdown-toggle" name="resultAmount" onchange="location = this.value;" style="inline">
        <option value="#">Select number...</option>
        <option value="?page=<%=paginate.currentPage%>&limit=10">10</option>
        <option value="?page=<%=paginate.currentPage%>&limit=20">20</option>
        <option value="?page=<%=paginate.currentPage%>&limit=50">50</option>
        <option value="?page=<%=paginate.currentPage%>&limit=100">100</option>
    </select>
            
            
    <!--show table only if the keywords array is not empty-->
    <% if(keywords.length>0){ %>
        <form class="delete-form pull-right" action="/apps/<%=app._id%>/keywords/-1?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger"><i class="i glyphicon glyphicon-trash"></i> Delete All</button>
        </form>
        
        <form class="delete-form pull-right" action="/apps/<%=app._id%>/keywords/selected?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger" onclick="collectCheckBoxes()"><i class="i glyphicon glyphicon-trash"></i> Delete Selected</button>
            <input type="text" id="indexesInput" name="indexes" hidden></input>
        </form>
    
        <% include keywords_table %>
    <% } else { %>
        <h3>Sorry, no keywords listed under this app at this moment</h3>
    <% } %>
    
    <% include _array_paginate %>
    <% include checkbox.ejs %>
</div>

<% include ../partials/footer %>